<div id="icon-selection">
    <div id="courses" class="icon-select">
        <%= fa_icon('book 4x', class: 'fa-fw') %>
    </div>
    <div id="lecturers" class="icon-select">
        <%= fa_icon('graduation-cap 4x', class: 'fa-fw') %>
    </div>
    <div id="programmes" class="icon-select">
        <%= fa_icon('pencil 4x', class: 'fa-fw') %>
    </div>
</div>
