<div class="one-page">
    <div class="banner">
        <div class="title">Mercurius</div>
    </div>
    <div class="blank"></div>
    <div class="main">
        <form class="pure-form pure-g">
            <div class="pure-u-3-4">
                <input type="text" placeholder="Search for a course" id="search" class="pure-input pure-input-1">
            </div>
            <div class="pure-u-1-4">
                <button type="submit" id="search-button" class="pure-button pure-button-primary">Search</button>
            </div>
        </form>
    </div>
    <footer>
        <%= link_to "Made with #{love} by a #{thing}.", 'http://werthen.me' %>
    </footer>
</div>
