$ugent_blue: #1E64C8;
$ugent_yellow: #FFD200;

$f_pol_soc: #97d700;
$f_l_en_w: #c5a900;
$f_g_en_g: #d87987;
$f_dieren: #a05eb5;
$f_recht: #da291c;
$f_psych: #fc4c02;
$f_farma: #bb29bb;
$f_wet: #69b3e7;
$f_irw: #7474c1;
$f_eco: #6fa287;
$f_bio: #00bfb3;
