// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 small {
    color: #aaa;
    text-decoration: none;
}
.lecturer-subtitle {
    a:link {
        text-decoration: none;
        color: inherit;
    }
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }
}
.center {
    text-align: center;
}
