.nav {
    display: flex;

    flex-wrap: wrap;
    .nav-list-item {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;

        position: relative;
        min-height: 100%;

        .pure-menu-link {
            display: block;

            //TODO: FIX THIS UGLY HACK
            padding-top: 10px;
        }
    }
}
