/* Place all the styles related to the Welcome controller here.*/
/* They will automatically be included in application.css.*/
/* You can use Sass (SCSS) here: http://sass-lang.com/*/
@import "colors";

body,
html {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"],
.viewport,
button,
html,
input,
select,
textarea {
    /* Set your content font stack here: */
    font-family: 'Raleway', sans-serif;
}
.one-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}
.banner {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    width: 100%;
    height: 25%;
    background: $ugent_blue;
    background: linear-gradient(45deg, $ugent_blue 32%, $ugent_yellow 65%);
    resize: both;

    justify-content: center;
    align-items: center;
}
.blank {
    height: 10%;
}
.title {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 75px;
    line-height: 100px;
}
@media (max-width: 768px) {
    .title {
        font-size: 50px;
    }
}
.main {
    top: -50px;
    width: 90%;
    height: 65%;
    text-align: center;
    button,
    input {
        width: 100%;
        height: 100px;
    }
    #search {
        margin-bottom: 0px;
        border: 3px;
        border-style: solid;
        border-color: $ugent_blue;
        border-radius: 0;
        font-weight: 100;
        font-size: 40px;
        resize: none;
    }
    #search-button {
        border-radius: 0;
        background-color: $ugent_blue;
        text-transform: uppercase;
        font-size: 30px;
    }
}
footer {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 100;
}
.pure-g > div {
    box-sizing: border-box;
}
.twitter-typeahead {
    width: 100%;
    resize: none;

    input.pure-input.pure-input-1.tt-hint {
        padding-right: 27px;
        padding-left: 27px;
        border-left: 1px;
        font-weight: 100;
        font-size: 40px;
    }
}
#icon-links {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-around;
    .icon-link {
        margin-right: 20px;
        margin-left: 20px;
        /* width: 200px; */

        flex-grow: 'grow';
        .link-description {
            text-align: center;
            letter-spacing: normal;
            font-weight: bold;
        }
    }
}
.tt-menu.tt-open {
    width: calc(100% - 6px);
    border-right: 3px solid $ugent_blue;
    border-bottom: 3px solid $ugent_blue;
    border-left: 3px solid $ugent_blue;
    background-color: white;
}
#locales {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 11px;
}
#icon-selection {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-around;

    .icon-select {
        position: relative;
        margin-right: 20px;
        margin-left: 20px;
        padding: 19px;
        border: 4px solid;
        border-color: rgba(0, 0, 0, 0);
        transition: border-color 0.5s;

        flex-grow: 'grow';
    }
    .icon-select:hover {
        background-color: rgb(230, 230, 230);
    }
    .icon-select::before {
        opacity: 0;
        transition: all 0.5s;
    }

    .selected {
        padding: 19px;
        border-color: $ugent_blue;
        background-color: white;
        transition: border-color 0.5s;
    }
    .icon-select.selected::before {
        position: absolute;
        right: 0;
        bottom: 0;
        border-width: 0 0 27px 27px;
        border-style: solid;
        border-color: transparent transparent $ugent_blue transparent;
        content: '';
        opacity: 0;
        transition: all 0.5s;
    }
    .selected::before::before {
        position: absolute;
        top: 14px;
        right: 4px;
        color: white;
        content: "\2713";
    }
}
