/* Place all the styles related to the Welcome controller here.*/
/* They will automatically be included in application.css.*/
/* You can use Sass (SCSS) here: http://sass-lang.com/*/
@import "colors";

body,
html {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"],
.viewport,
button,
html,
input,
select,
textarea {
    /* Set your content font stack here: */
    font-family: 'Raleway', sans-serif;
}
.one-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 100%;
    height: 100%;
    resize: both;

    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.banner {
    display: flex;
    -webkit-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    /* IE6-9 fallback on horizontal gradient */
    flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin: 0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    width: 100%;
    height: 25%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f61de+32,ffbf0f+65 */
    background: $ugent_blue;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, $ugent_blue 32%, $ugent_yellow 65%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $ugent_blue 32%, $ugent_yellow 65%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $ugent_blue 32%, $ugent_yellow 65%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$ugent_blue', endColorstr='$ugent_yellow',GradientType=1 );
    resize: both;

    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.blank {
    height: 10%;
}
.title {
    position: relative;
    width: 100%;
    color: white;
    /* top: calc(50% - 37.5px); */
    /* left: 200px; */
    text-align: center;
    font-weight: 100;
    font-size: 75px;
}
.main {
    top: -50px;
    width: 90%;
    height: 65%;
    text-align: center;
    button,
    input {
        width: 100%;
        height: 100px;
    }
    #search {
        border: 3px;
        border-style: solid;
        border-color: $ugent_blue;
        border-radius: 0;
        font-weight: 100;
        font-size: 40px;
        resize: none;
    }
    #search-button {
        border-radius: 0;
        background-color: $ugent_blue;
        text-transform: uppercase;
        font-size: 30px;
    }
}
footer {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 100;
}
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.twitter-typeahead {
    width: 100%;
    resize: none;

    input.pure-input.pure-input-1.tt-hint {
        padding-right: 27px;
        padding-left: 27px;
        border-left: 1px;
        font-weight: 100;
        font-size: 40px;
    }
}
#icon-links {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-around;
    .icon-link {
        margin-right: 20px;
        margin-left: 20px;
        /* width: 200px; */

        flex-grow: 1;
        .link-description {
            text-align: center;
            letter-spacing: normal;
            font-weight: bold;
        }
    }
}
.tt-menu.tt-open {
    background-color: white;
    border-left: 3px solid $ugent_blue;
    border-right: 3px solid $ugent_blue;
    border-bottom: 3px solid $ugent_blue;
    width: calc(100% - 6px);
}
#locales {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 11px;
}
